
/* For grid configurations and body alterations */

body{
  background-color: var(--night_bg);
}
.navbar {
    background-color: #282E39;
    padding: 0;
    margin: 0 auto;
    display: grid;
    width: 90%;
    position: sticky;
    top: 0;
    overflow: hidden;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 15px;
}

.footer {
    background-color: #282E39;
    margin: 0 auto;
    width: 90%;
    bottom: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 15px;
}

.container {
    background-color: red;
    width: 90%;
    margin: 15px auto 15px;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem; 
  }

  .header-card {
    background-color: lightskyblue;
    display: grid;
    grid-column: 1/ span 12; 
    grid-row: 1fr;
    border-radius: 15px;
  }

  .full-span-card {
    background-color: blue;
    display: grid;
    grid-column: 1/ span 12; 
    grid-row: 1fr;
    border-radius: 15px;
  }

  .half-card {
    background-color: purple;
    display: grid;
    grid-column: span 6; 
    grid-row: 1fr;
    border-radius: 15px;
  }

  .quarter-card {
    background-color: yellow;
    display: grid;
    grid-column: span 3;
    grid-row: 2fr;
    border-radius: 15px;
  }

  .mini-card {
    background-color: pink;
    display: grid;
    grid-column: span 2; 
    grid-row: 2fr;
    border-radius: 15px;
  }

  .tiny-card {
    background-color: orange;
    display: grid;
    grid-column: span 1; 
    grid-row: 2fr;
    border-radius: 15px;
  }

  /* misc configurations */
  .invis {
    background-color: transparent;
  }

  .lined {
    display: inline-block;
  }

  .navlist {
    display: flex;
    justify-content: space-around;
  }

  

  /* Content + alignment */

  .byside{
    display:flex;
    flex: flex-end;
  }
  .spaced {
    justify-content: center;
  }



  


  