
/* Need to put root colour hexes here*/
/* Need to put typeface config here*/
.navbar {
    background-color: green;
    padding: 30px 0 30px 0;
    margin: 0 auto;
    width: 90%;
    position: sticky;
    display: block;
    top: 0;
    overflow: hidden;
}

.footer {
    background-color: green;
    padding: 30px 0 30px 0;
    margin: 0 auto;
    width: 90%;
    bottom: 0;
}

.container {
    background-color: red;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem; /* Adjust as needed */
  }
  
  .row-4 {
    background-color: purple;
    display: grid;
    grid-row: 1frfr; 
  }

  .row-6 {
    background-color: wheat;
    display: grid;
    grid-row: 6fr; 
  }

  .row-12 {
    background-color: turquoise;
    display: grid;
    grid-row: 12fr; 
  }
  
  .col-12 {
    background-color: blue;
    grid-column: 12fr; /* Full width column */
  }
  
  .col-6 {
    background-color: orange;
    grid-column: 6fr; /* Half width column */
  }
  
  .col-4 {
    background-color: yellow;
    grid-column: 4fr; /* One-third width column */
  }