
/* Need to put root colour hexes here*/
/* Need to put typeface config here*/
.navbar {
    background-color: green;
    padding: 30px 0 30px 0;
    margin: 0 auto;
    width: 90%;
    position: sticky;
    display: block;
    top: 0;
    overflow: hidden;
}

.footer {
    background-color: green;
    padding: 30px 0 30px 0;
    margin: 0 auto;
    width: 90%;
    bottom: 0;
}

.item3{
    width: 500px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 20px;
}

.grid-item {
    background-color: #4CAF50; /* Green */
    color: white;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.grid-item:hover {
    background-color: #45a049; /* Darker green on hover */
}