/* For component styling, colours, typefaces, etc. */

:root{
    --night_primary: #A4C0FF;
    --night_secondary: #FFCB3E;
    --night_tertiary: #D0D0D0;
    --night_success:#A4D588;
    --night_warning:#FFDFA8;
    --night_error:#FFA8A8;
    --night_bg:#191B21;
    --night_text:#FFFDF9;

    --day_primary: #546EB0;
    --day_secondary: #FFB800;
    --day_tertiary: #666666;
    --day_success:#447E5A;
    --day_warning:#FFBC00;
    --day_error:#C33A28;
    --day_bg:#191B21;
    --day_text:#FFFDF9;

    font-family: "Teachers", sans-serif;
    font-weight: 400;
    
}


/* Need to put typeface config here*/

.logotext {
    font-size: 32px;
    font-weight: 500;
    margin: 0px;
}

h1 {
    font-size: 49px;
    font-weight: 400;
}

h2 {
    font-size: 39px;
    font-weight: 400;
}

h3 {
    font-size: 31px;
    font-weight: 400;
}

h4 {
    font-size: 25px;
    font-weight: 400;
}

p {
    font-size: 20px;
    font-weight: 400;
    color: var(--night_primary);
}

.caption {
    font-size: 16px;
    font-weight: 400;
}

.label {
    font-size: 13px;
    font-weight: 400;
}


.padded{
    padding: 5px 0 5px 0;
}

.navtext{
    color: var(--night_secondary);
    font-size: medium;
    text-decoration: none;
}

.navtext:hover{
    color: #caa131;
}
/* Alter this text based on typeface configs */
/* .teachers-regular {
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } */

  /* Text + alignment */
  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .justified {
    text-align: justify;
  }

  .right {
    text-align: right;
  }

  