
/* For grid configurations and body alterations */

body{
  background-color: var(--night_bg);
  background-image: url(../img/cartographer.png);
  background-attachment: fixed;
}
.navbar {
    background-color: #282E39;
    padding: 0;
    margin: 0;
    display: grid;
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 15px;
    opacity: 0.95;
    transition: all 0.25s ease-in-out;
}

.navbar:hover{
  opacity: 100%;
}

.footer {
    background-color: #282E39;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 15px;
}

.logocontainer {
    background-color: red;
    width: 90%;
    margin: 15px auto 15px;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem; 
  }

  .colourcontainer {
    background-color: red;
    width: 90%;
    margin: 15px auto 15px;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem; 
  }

  .header-card {
    background-color: lightskyblue;
    display: grid;
    grid-column: 1/ span 12; 
    grid-row: 1fr;
    border-radius: 15px;
    align-items: center;
  }

  .full-span-card {
    background-color: blue;
    display: grid;
    grid-column: 1/ span 12; 
    grid-row: 1fr;
    border-radius: 15px;
  }

  .most-span-card {
    background-color: pink;
    display: grid;
    grid-column: span 8; 
    grid-row: 1fr;
    border-radius: 15px;
  }

  .half-card {
    background-color: purple;
    display: grid;
    grid-column: span 6; 
    grid-row: 1fr;
    border-radius: 15px;
  }

  .quarter-card {
    background-color: yellow;
    display: grid;
    grid-column: span 3;
    grid-row: 2fr;
    border-radius: 15px;
  }

  .mini-card {
    background-color: pink;
    display: grid;
    grid-column: span 2; 
    grid-row: 2fr;
    border-radius: 15px;
  }

  .tiny-card {
    background-color: orange;
    display: grid;
    grid-column: span 1; 
    grid-row: 2fr;
    border-radius: 15px;
  }

  /* misc configurations */
  .invis {
    background-color: transparent;
  }

  .lined {
    display: inline-block;
  }

  .navlist {
    display: flex;
    justify-content: space-around;
  }

  

  /* Content + alignment */

  .logosizing{
    width: 200px;
    height: auto;
  }

  .byside{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .bystack{
    display:flex;
    align-items: center;
  }

  .spaced {
    justify-content: center;
  }

  .colours{
    display: flex;
    justify-content: space-around;
    padding: 0 30px 15px 30px;
  }

  /* Colour page square configs */

  /*
    --night_primary: #A4C0FF;
    --night_secondary: #FFCB3E;
    --night_tertiary: #D0D0D0;
    --night_success:#A4D588;
    --night_warning:#FFDFA8;
    --night_error:#FFA8A8;
    --night_bg:#191B21;
    --night_text:#FFFDF9;

    --day_primary: #546EB0;
    --day_secondary: #FFB800;
    --day_tertiary: #666666;
    --day_success:#447E5A;
    --day_warning:#FFBC00;
    --day_error:#C33A28;
    --day_bg:#191B21;
    --day_text:#FFFDF9;
    */
 #day1{
  background-color: var(--day_primary);
  width: 150px;
  height: 150px;
  border-radius: 15px;
 }

 #day2{
  background-color: var(--day_secondary);
  width: 150px;
  height: 150px;
  border-radius: 15px;
 }

 #day3{
  background-color: var(--day_tertiary);
  width: 150px;
  height: 150px;
  border-radius: 15px;
 }

 #night1{
  background-color: var(--night_primary);
  width: 150px;
  height: 150px;
  border-radius: 15px;
 }

 #night2{
  background-color: var(--night_secondary);
  width: 150px;
  height: 150px;
  border-radius: 15px;
 }

 #night3{
  background-color: var(--night_tertiary);
  width: 150px;
  height: 150px;
  border-radius: 15px;
 }

 #nightbg{
  background-color: var(--night_bg);
  width: 150px;
  height: 150px;
  border-radius: 15px;
 }
 
 #nightbgtext{
  background-color: var(--night_text);
  width: 150px;
  height: 150px;
  border-radius: 15px;
 }


  


  